/*Mobile-first design*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
    --font-main: "Montserrat", sans-serif;
    --control-height: 50px;
    --radius: 18px;
    --outline: #e2e2e2;
}

* {
    box-sizing: border-box;
    user-select: none;
    font-family: var(--font-main);
}

html,
body {
    height: 100%;
    margin: 0 auto;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #74ebd5;
    /* fallback for old browsers */
    background: linear-gradient(to right, #acb6e5, #74ebd5);
    font-family: var(--font-main);
    color: #222244;

}

.btn,
.close-btn {
    height: var(--control-height);
}

/*Basic btn styling*/
.btn {
    background: rgba(255, 255, 255, 0.2);
    border-radius: var(--radius);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    /* backdrop-filter: blur(15px); */
    border: 1px solid rgba(255, 255, 255, 0.2);
    font: var(--font-main) 22px;
    cursor: pointer;
}

/*Button to open OVERLAY*/
#menu-btn {
    position: absolute;
    top: 20px;
    padding: 10px;
    font-size: 1rem;
}

/*Overlay - menu with predefined cities and search box*/
#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
    display: none;

    padding: 10px;
}

#overlay .wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 auto;
}

#overlay.visible {
    display: block;
}

.place-btns {
    display: grid;
    gap: 5px;
}

/* City selection form */
#search-form {
    /* display: grid; */
    width: 100%;
    /* gap: 10px */
    display: block;
    position: relative;
}

.search-results {
    position: absolute;
    padding: 5px;
    padding-top: calc(5px + var(--control-height));
    top: 0px;
    border-radius: var(--radius);
    width: 100%;
    background: #fff;
    overflow: hidden;
}

.search-results div {
    transition: 1s background-color;
}

.search-results div:hover {
    background: var(--outline);
    cursor: pointer;
}

.search-results div:first-child {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.search-results div:last-child {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.search-results div::after {
    content: ", " attr(data-reg) ", " attr(data-country);
}

#search-form {
    position: relative;
}

/* Place search input*/
#search-form input {
    position: relative;
    width: 100%;
    border: none;
    border-radius: var(--radius);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    height: var(--control-height);
    background: #fff;
    z-index: 9999;
    border: 1px solid transparent;
    padding: 10px 15px;
    font-size: 1rem;
}



#search-form input:focus-visible {
    outline: none;
    border: 1px solid var(--outline);
}

.search-results div {
    padding: 10px;
}

.place-btns button,
#close-btn {
    padding: 10px;
    font-size: 1rem;
}

/*Weather box*/
#div-weather {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.9rem;
    flex-direction: column;
    width: 75vw;
    aspect-ratio: 1/1;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: var(--radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    padding: 5px;
    text-align: center;
}

#place {
    font-weight: 600;
}

i {
    font-size: 2.5em;
}


/* Desktop design */
@media (min-width: 768px) {
    #div-weather {
        max-width: 350px;
    }


    .place-btns {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 1024px) {
    #overlay>.wrapper {
        max-width: 950px;

    }

    .place-btns {
        grid-template-columns: repeat(3, 1fr);
    }
}

.d-none {
    display: none !important;
}