/*Mobile-first design*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
:root {
  --font-main: "Montserrat", sans-serif;
}
* {
  box-sizing: border-box;
  user-select: none;
}
html,
body {
  height: 100%;
  margin: 0 auto;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #74ebd5; /* fallback for old browsers */
  background: linear-gradient(to right, #acb6e5, #74ebd5);
  font-family: var(--font-main);
  color: #222244;

}
/*Basic btn styling*/
.btn {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  /* backdrop-filter: blur(15px); */
  border: 1px solid rgba(255, 255, 255, 0.2);
  font: var(--font-main) 22px;
  cursor: pointer;
}

/*Button to open OVERLAY*/
#menu-btn {
    position: absolute;
  top: 20px;  
   
  width: 90px;
  height: 30px;
  
}
 
/*Overlay - city selector*/
#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(10px);
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}
 
#close-btn {
  grid-column: span 2;
}
/*Weather box*/
#div-weather {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.9rem;
  flex-direction: column;
  width: 75vw;
  aspect-ratio: 1/1;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px;
  text-align: center;
}
#place {
  font-weight: 600;
}
i {
  font-size: 2.5em;
}
/* Desktop design */
@media (min-width: 768px) {
  #div-weather {
    max-width: 350px;
  }
  #overlay {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 25vw 10px 25vw;
  }
  #close-btn {grid-column: span 3 }  
}